{% extends 'main.html' %}

{% block page_title %}Add Achievement{% endblock %}

{% block content %}
<div class="row">
  <div class="d-none d-lg-block d-xl-block col-lg-1 col-xl-2"><!-- Spacer for large screens --></div>
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8">
    <div class="card border-0 mt-4 form-card">
      <div class="card-body">
        <div class="p-2 w-100 mb-5 text-center ">
          <h1 class="text-center">Add Achievement</h1>
        </div>
        <form action="{{ php_self }}" method="post">
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="titleBox">Title:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input type="text" class="form-control bg-transparent rounded-0" id="titleBox" name="title">
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="descriptionBox">Description:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input type="text" class="form-control bg-transparent rounded-0" id="descriptionBox" name="description">
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="p-2 w-100 text-center">
              <button class="btn py-3 px-5 mt-4 form-btn" type="submit">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="d-none d-lg-block d-xl-block col-lg-1 col-xl-2"><!-- Spacer for large screens --></div>
</div>
{% endblock %}
