<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <ul class="list-group">
      {% if loggedIn %}
        <li class="list-group-item bg-transparent border-0"><a href="myroom.php?user={{ sessUserName }}">My Room</a></li>
      {% else %}
        <li class="list-group-item bg-transparent border-0"><a href="login.php">Login</a></li>
      {% endif %}
      <li class="list-group-item bg-transparent border-0"><a href="friends.php">Friends</a></li>
      <li class="list-group-item bg-transparent border-0"><a href="edit-profile.php">Edit Profile</a></li>
      <li class="list-group-item bg-transparent border-0"><a href="logout.php">Logout</a></li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <ul class="list-group">
      <li class="list-group-item bg-transparent border-0"><a href="karaoke-movies.php">Karaoke and Movies</a></li>
      <li class="list-group-item bg-transparent border-0"><a href="painting-by-numbers.php">Paint by Numbers</a></li>
      <li class="list-group-item bg-transparent border-0"><a href="iproject.php">iProject</a></li>
      <li class="list-group-item bg-transparent border-0"><a href="icode.php">iCode</a></li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
    <ul class="list-group">
      <li class="list-group-item bg-transparent border-0"><a href="policies.php">Policies and Legal</a></li>
      <li class="list-group-item bg-transparent border-0">&copy; 2019 iRoom</li>
      <li class="list-group-item bg-transparent border-0">Made with <a href="https://www.php.net/" target="_blank">PHP</a></li>
    </ul>
  </div>
</div>
