{% extends 'main.html' %}

{% block page_title %}Friends{% endblock %}

{% block content %}
<div class="row">
	{% if requests|length > 0 %}
		<div class="col-sm-12">
			<div class="card border-0 mt-4 mb-5 form-card">
				<div class="card-body">
					<h1>Friend Requests</h1>
					<div class="jumbotron pb-2">
						<table class="table">
						 <tbody>
							 {% for request in requests %}
							 	<form action="friend-request-response.php" method="post">
									<input type="hidden" name="requester" value="{{ request['sender_user_name'] }}">
								 <tr>
									 <td>{{ request['sender_display_name'] }}</td>
									 <td><button class="btn btn-success" type="submit" name="accept">Accept</button></td>
									 <td><button class="btn btn-danger" type="submit" name="reject">Reject</button></td>
								 </tr>
								</form>
								{% endfor %}
						 </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<div class="d-none d-lg-block d-xl-block col-lg-1 col-xl-2"><!-- Spacer for large screens --></div>
	<div class="col-sm-12 col-md-12 col-lg-10 col-xl-8">
		<div class="card border-0 mt-4 mb-5 form-card">
			<div class="card-body">
				<h1 class="mb-0">Your Friend Info</h1>
				<div class="jumbotron py-4">
					 <h2 class="mb-4">Username: <span class="p-2 rounded friend-info">{{ sessUserName }}</span></h2>
					 <h2>Friend Code: <span class="p-2 rounded friend-info">{{ sessFriendKey }}</span></h2>
				</div>

				<h1 class="mx-0">Add a friend</h1>
				<form action="{{ php_self }}" method="post">
					{% if requestStatus == 2 %}
						<div class="text-center form-top-error p-2 mb-3">
							Unable to send friend request.
						</div>
					{% elseif requestStatus == 1 %}
						<h3 class="text-success text-center mt-4">Friend request sent!</h3>
					{% endif %}
					<div class="d-flex flex-row mb-4">
						<div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
							<label for="usernameBox">Username:</label>
						</div>
						<div class="align-self-end p-2 mr-4 form-input-wrapper">
							<input type="text" class="form-control bg-transparent rounded-0{% if errUserName is defined %} form-error{% endif %}" id="usernameBox" name="user_name">
							{% if errUserName is defined %}
								<small class="form-text">Please enter the username of your friend.</small>
							{% endif %}
						</div>
					</div>
					<div class="d-flex flex-row mb-4">
						<div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
							<label for="friendcodeBox">Friend Code:</label>
						</div>
						<div class="align-self-end p-2 mr-4 form-input-wrapper">
							<input type="text" class="form-control bg-transparent rounded-0{% if errFriendKey is defined %} form-error{% endif %}" id="friendcodeBox" name="friend_key">
							{% if errFriendKey is defined %}
								<small class="form-text">Please enter your friend's Friend Code.</small>
							{% endif %}
						</div>
					</div>
					<div class="d-flex flex-row">
						<div class="p-2 w-100 text-center">
							<button class="btn py-3 px-5 mt-4 form-btn" type="submit">Add Friend</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="d-none d-lg-block d-xl-block col-lg-1 col-xl-2"><!-- Spacer for large screens --></div>

	<div class="col-sm-12">
			<div class="card border-0 mt-4 mb-5 form-card">
				<div class="card-body">
					<h1>My Friends</h1>
					<div class="jumbotron pb-2">
						<table class="table">
						 <thead>
							 <tr>
								 <th scope="col">Name</th>
								 <th scope="col">Status</th>
								 <th scope="col">Friends Since</th>
							 </tr>
						 </thead>
						 <tbody>
							 {% for friend in friends_list %}
								 <tr>
									 <td><a href="myroom.php?user={{ friend['user_name'] }}">{{ friend['display_name'] }}</a></td>
									 <td>{{ friend['status'] }}</td>
									 <td>{{ friend['friends_since']|date('F j, Y')}}</td>
								 </tr>
								{% endfor %}
						 </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

</div>
{% endblock %}
