{% extends 'main.html' %}

{% block page_title %}Home - iRoom{% endblock %}

{% block content %}
<div class="row">
  <div class="d-none d-lg-block d-xl-block col-lg-1 col-xl-2"><!-- Spacer for large screens --></div>
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8">
    <div class="card border-0 mt-4 form-card">
      <div class="card-body">
        <form action="{{ php_self }}" method=post>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="nameBox">*Name:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input type="text" class="form-control bg-transparent rounded-0" id="nameBox">
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="nameBox">*Username:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input type="text" class="form-control bg-transparent rounded-0" id="nameBox">
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="nameBox">*Email:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input type="email" class="form-control bg-transparent rounded-0" id="nameBox">
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="nameBox">*Password:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input type="password" class="form-control bg-transparent rounded-0" id="nameBox">
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="nameBox">*Re-Type Password:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input type="password" class="form-control bg-transparent rounded-0" id="nameBox">
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="nameBox">Username:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input type="text" class="form-control bg-transparent rounded-0" id="nameBox">
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="nameBox">Email:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input type="email" class="form-control bg-transparent rounded-0" id="nameBox">
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="nameBox">Birthday:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper position-relative">
              <input type="date" class="form-control bg-transparent rounded-0" id="nameBox">
              <i class="far fa-calendar-alt input-icon-overlay"></i>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="p-2 w-100 text-center">
              <p class="mb-3">By signing up, you agree to our <a href="#">Terms</a>, <a href="#">Data Policy</a>, and <a href="#">Cookies Policy</a>.</p>
              <p class="mb-3">Already have an account? <a href="#">Login here</a>!</p>
              <button class="btn py-3 px-5 mt-4 form-btn" type="submit">Sign Up</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="d-none d-lg-block d-xl-block col-lg-1 col-xl-2"><!-- Spacer for large screens --></div>
</div>
{% endblock %}
