{% extends 'main.html' %}

{% block page_title %}iCode{% endblock %}

{% block content %}

    <div class="row mx-5">
      <div class="col-sm-12 mt-3 text-center">
        <h1>iCode</h1>
        <div class="card border-0 mt-4 mb-5 form-card">
          <div class="card-body py-5">
            <div class="jumbotron my-5">
              <p>The goal with teaching kids code early at an early age is to not limit children with learning syntax but to motivate them with creativity. That's why it's important to introduce block-based coding first, and when they feel confident
                with the logic, they can try 'real' coding with text-based syntax.</p>
              <img src="https://ya-webdesign.com/images/block-vector-scratch.png"></img>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>iReferences</h1>
        <div class="card border-0 mt-4 mb-5 form-card">
          <div class="card-body py-5">
            <div class="jumbotron my-10">
              <p> Teaching new material and learning from internet resources has made it available for all children to start early and inspire kids to code!</p>
              <div class="card-group">
                <div class="card align-items-center">
                  <h5 class="card-title">CSS3</h5>
                  <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg" style="width:175px;height:200px;" alt="CSS3 logo">
                  <div class="card-body">



                  </div>
                </div>
                <div class="card align-items-center">
                  <h5 class="card-title">MOBILE APPS</h5>
                  <img class="card-img-top" src="https://www.vectorlogo.zone/logos/android/android-tile.svg" style="width:150px;height:150px;" alt="Android Logo">
                  <div class="card-body">



                  </div>
                </div>
                <div class="card align-items-center">
                  <h5 class="HTML5">HTML5</h5>
                  <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/HTML5_logo_resized.svg/170px-HTML5_logo_resized.svg.png" alt="HTML5 logo" style="width:150px;height:200px;">
                  <div class="card-body">



                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
