{% extends 'main.html' %}

{% block page_title %}iproject{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-12 mt-3">
		<h1>iProject</h1>
		<div class="card border-0 mt-4 mb-5 form-card">
			<div class="card-body">
				<div class="jumbotron text-center">
					 <img src="content/static/iproject/finished.jpg" class="project" alt="Picture of the project finished"></img>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div class="text-center">
			<p>This is my bird house! I painted it all by myself and I will show you how I did it so you can do it too!
			You can choose the colors you want and the style of bird cage you want it doesn't matter the steps will be the same!
			All of the materials you need are in the images below with the steps. If you want the exact same house, paint and brushes,
			go to DeSerres I got them all there!</p>
		</div>
	</div>
			<div class="col-sm-12">
				<div class="card-columns">
					<div class="card border-0 mt-4 mb-5 project-card text-center">
						<div class="card-body">
							<img src="content/static/iproject/house.jpg" class="project" alt="Picture of product"></img>
						</div>
					</div>
				<div class="card border-0 mt-4 mb-5 project-card text-center">
					<div class="card-body">
						<img src="content/static/iproject/step1.jpg" class="project" alt="Picture of step"></img>
					</div>
				</div>
				<div class="card border-0 mt-4 mb-5 project-card text-center">
					<div class="card-body">
						<img src="content/static/iproject/paint.jpg" class="project" alt="Picture of product"></img>
					</div>
				</div>
				<div class="card border-0 mt-4 mb-5 project-card text-center">
					<div class="card-body">
						<img src="content/static/iproject/step2.jpg" class="project" alt="Picture of step"></img>
					</div>
				</div>
				<div class="card border-0 mt-4 mb-5 project-card text-center">
					<div class="card-body">
						<img src="content/static/iproject/brushes.jpg" class="project" alt="Picture of product"></img>
					</div>
				</div>
				<div class="card border-0 mt-4 mb-5 project-card text-center">
					<div class="card-body">
						<img src="content/static/iproject/step3.jpg" class="project" alt="Picture of step"></img>
					</div>
				</div>
			</div>
		</div>
	<div class="col-sm-12">
			<ul><li>First, put one big dot of gold and white paint and two big dots of blue paint on a palette, paper plate or anything that you can use that your parent won't get mad at you if there are stains from the paint.</li>
				<li>Second, mix one of the blue dot of paint with the white to make a light blue.</li>
				<li>Paint your house! I use the blue for most of the house and the rest for details but you can do what you want. You can even leave some parts with only the wood like I did with the roof and the base.</li>
				<li>*Optional: You can put varnish if you want to use it as an acutal bird house. You would need outside vanish though, ask your parents they might already have some or just go to an art store or hardware store.</li>
				<li>Good job you painted a bird house! :)</li>
			</ul>
	</div>
</div>
{% endblock %}
