{% extends 'main.html' %}

{% block page_title %}Karaoke and Videos{% endblock %}

{% block content %}

    <div class="row mx-5">
      <div class="col-sm-12 mt-3 text-center">
        <h1>Karaoke</h1>
        <div class="card border-0 mt-4 mb-5 form-card">
          <div class="card-body py-5">
            <div class="jumbotron my-5">
              <h2>
                Here is a video with a song you can sing along too because it has words, just like Karoake!! ..see if you recognize it!</h2>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/XqZsoesa55w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" row">
      <div class="col-sm-12 text-center">
        <h1>Movies</h1>
        <div class="card border-0 mt-4 mb-5 form-card">
          <div class="card-body py-5">
            <div class="jumbotron my-10">
              <h2> Some movies are for fun, but some have a really good story, we think this one is great for both!</h2>
              <div>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/YYkxC4mraBQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

{% endblock %}
