{% extends 'main.html' %}

{% block page_title %}Login{% endblock %}

{% block content %}
<div class="row">
  <div class="d-none d-lg-block d-xl-block col-lg-1 col-xl-2"><!-- Spacer for large screens --></div>
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8">
    <div class="card border-0 mt-4 form-card">
      <div class="card-body">
        <div class="p-2 w-100 mb-5 text-center ">
          <h1 class="text-center">Login</h1>
          {% if newAccount == true %}
            <h3 class="text-success mt-4">New account created! Please log in below.</h3>
          {% endif %}
        </div>
        <form action="{{ php_self }}" method="post">
          {% if error == true %}
            <div class="text-center form-top-error p-2 mb-3">
              Wrong username, email, or password!
            </div>
          {% endif %}
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="userNameBox">*Username:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input type="text" class="form-control bg-transparent rounded-0" id="userNameBox" name="userName">
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="emailBox">*Email:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input type="email" class="form-control bg-transparent rounded-0" id="emailBox" name="email">
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="passwordBox">*Password:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input type="password" class="form-control bg-transparent rounded-0" id="passwordBox" name="password">
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="p-2 w-100 text-center">
              <p class="mb-3">Don't have an account? <a href="register.php">Sign up here</a>!</p>
              <button class="btn py-3 px-5 mt-4 form-btn" type="submit">LOG IN</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="d-none d-lg-block d-xl-block col-lg-1 col-xl-2"><!-- Spacer for large screens --></div>
</div>
{% endblock %}
