{% extends 'main.html' %}

{% block page_title %}Edit Profile{% endblock %}

{% block content %}
<div class="row">
  <div class="d-none d-lg-block d-xl-block col-lg-1 col-xl-2"><!-- Spacer for large screens --></div>
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8">
    <div class="card border-0 mt-4 form-card">
      <div class="card-body">
        <div class="p-2 w-100 mb-5 text-center ">
          <h1>Update Your Status, {{ sessDisplayName }}</h1>
        </div>
        <form action="{{ php_self }}" method="post" enctype="multipart/form-data">
          {% if file_error == true %}
            <div class="text-center form-top-error p-2 mb-3">
              You must upload a valid image (jpg or png) smaller than 1MB!
            </div>
          {% endif %}
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="doingBox">I am doing:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input type="text" class="form-control bg-transparent rounded-0" id="doingBox" name="status" value="{{ current_status }}">
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="foodBox">My favorite food is:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input type="text" class="form-control bg-transparent rounded-0" id="foodBox" name="food" value="{{ current_food }}">
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="movieBox">My favorite movie is:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input type="text" class="form-control bg-transparent rounded-0" id="movieBox" name="movie" value="{{ current_movie }}">
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="gameBox">My favorite game is:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input type="text" class="form-control bg-transparent rounded-0" id="gameBox" name="game" value="{{ current_game }}">
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="hangoutBox">My next hangout time:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper position-relative">
              <input type="date" class="form-control bg-transparent rounded-0" id="hangoutBox" name="hangout_time" value="{{ current_hangout_time }}">
              <i class="far fa-calendar-alt input-icon-overlay"></i>
            </div>
          </div>
          <div class="col-10 mt-5 ml-5 pr-5 ">
            <div class="input-group">
              <label class="input-group-btn">
                <span class="btn btn-danger">
                  Choose File <input type="file" id="img-file" name="img_file" style="display: none;">
                </span>
            </label>
            <input type="text" class="form-control" id="img-name" placeholder="Select an Image" readonly>
          </div>
        </div>

          <div class="d-flex flex-row">
            <div class="p-2 w-100 text-center">
              <button class="btn py-3 px-5 mt-4 form-btn" type="submit">UPDATE</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="d-none d-lg-block d-xl-block col-lg-1 col-xl-2"><!-- Spacer for large screens --></div>
</div>
{% endblock %}
