<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{% block page_title %}iRoom{% endblock %} - iRoom</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Volkhov" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="iRoom - A social network for children and their parents">
    <meta name="keywords" content="iroom room social network kids fun friends myroom">
    <meta name="author" content="Taylor Gillis, Irwin Kee, Josiane Miron, Farid Eslambolchi">
    <meta name="robots" content="noindex">

    <base href="http://localhost:81/iroom2/">
  </head>
  <body>
    <div class="container logo-bar mt-4 mb-5 py-0 px-4">
      <nav class="navbar navbar-expand-lg p-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks">
          <span class="navbar-toggler-icon hamburger"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarLinks">
          {% if loggedIn == true %}
            <span class="navbar-text">Hello, <a href="myroom.php?user={{ sessUserName }}">{{ sessDisplayName }}</a>!</span>
            <ul class="navbar-nav ml-3 logo-bar-drop">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                  Account
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="friends.php">Friends</a>
                  <a class="dropdown-item" href="edit-profile.php">Edit Profile</a>
                  <a class="dropdown-item" href="logout.php">Logout</a>
                </div>
              </li>
            </ul>
          {% endif %}
          <span class="d-lg-none d-xl-none">
            {% include 'nav_menu.html' %}
          </span>
        </div>
        <a class="navbar-brand ml-auto logo" href="#">iRoom</a>
      </nav>
    </div>

    <span class="d-none d-lg-block d-xl-block mt-0">
      {% include 'nav_menu.html' %}
    </span>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <footer class="container my-5 px-5 py-3">
      {% include 'footer.html' %}
    </footer>

    <script language="javascript" src="js/main.js"></script>
  </body>
</html>
