{% extends 'main.html' %}

{% block page_title %}{{ item_display_name }}'s Room{% endblock %}

{% block content %}
<div class="row mx-5">
	<div class="col-sm-12 mt-3">
		<h1 class="text-center">My Room</h1>
		<div class="card border-0 mt-4 mb-5 form-card">
			<div class="card-body">
				<div class="jumbotron my-5 py-0">
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 text-center myroom-headerbox">
								<img class="img-fluid" src="{{ item_room_image }}">
							</div>
							<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 myroom-headerbox mt-3 mt-lg-0 mt-xl-0">
								<h1 class="ml-3">My Name is {{ item_display_name }}!</h1>
								<h3 class="ml-3 mb-4">{{ item_status }}</h3>
								<ul>
									{% if item_email != null %}
										<li class="mb-2"><i class="fas fa-envelope mr-3"></i><a href="mailto:{{ item_email }}">{{ item_email }}</a></li>
									{% endif %}
									{% if item_birthday != null %}
										<li class="mb-2"><i class="fas fa-birthday-cake mr-3"></i>{{ item_birthday|date('F j') }}</li>
									{% endif %}
									{% if item_food != null %}
										<li class="mb-2"><i class="fas fa-utensils mr-3"></i>{{ item_food }}</li>
									{% endif %}
									{% if item_movie != null %}
										<li class="mb-2"><i class="fas fa-film mr-3"></i>{{ item_movie }}</li>
									{% endif %}
									{% if item_game != null %}
										<li class="mb-2"><i class="fas fa-gamepad mr-3"></i>{{ item_game }}</li>
									{% endif %}
									{% if item_hangout_time != null %}
										<li class="mb-2"><i class="far fa-clock mr-3"></i>Next hangout: {{ item_next_hangout|date('F j, Y') }}</li>
									{% endif %}
								</ul>
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
		<h1 id="walloffame">Wall of Fame</h1>
		<div class="card border-0 mt-4 mb-5 form-card">
			<div class="card-body">
				{% if recent_achievements|length > 0 %}
					<div class="card-columns">
						{% for achievement in recent_achievements %}
						<div class="card border-0 mt-4 mb-5 project-card">
							<div class="card-body">
								<h1>{{ achievement['title']|raw }}</h1>
								<h2>{{ achievement['date_added']|date('F j, Y') }}</h2>
								<p>{{ achievement['description']|raw }}
							</div>
						</div>
						{% endfor %}
					</div>
				{% else %}
					<h3 class="text-center">No achievments added yet.</h3>
				{% endif %}

				{% if old_achievements|length > 0 %}
					<div id="oldAchievementsBox" class="card-columns">
						{% for achievement in old_achievements %}
						<div class="card border-0 mt-4 mb-5 project-card">
							<div class="card-body">
								<h1>{{ achievement['title']|raw }}</h1>
								<h2>{{ achievement['date_added']|date('F j, Y') }}</h2>
								<p>{{ achievement['description']|raw }}
							</div>
						</div>
						{% endfor %}
					</div>
				{% endif %}

			<div class="text-center">
				{% if old_achievements|length > 0 %}
					<a id="showAllAchButton" class="btn py-3 px-5 mb-4 form-btn" href="javascript:void(0)" onclick="showAllAchievements()">Show All</a>
				{% endif %}
				{% if is_my_page == true %}
					<a class="btn py-3 px-5 mb-4 form-btn" href="add-achievement.php">Add Achievement</a>
				{% endif %}
			</div>
		</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 mt-3">
			<h1 class="text-center" id="shouts">Shouts</h1>
			<div class="card border-0 mt-4 mb-5 form-card">
				<div class="card-body">
					{% if is_my_page == false %}
						<form action="add-shout.php" method="post">
							<input type="hidden" name="sender" value="{{ sessUserName }}">
							<input type="hidden" name="recipient" value="{{ pageUserName }}">
							<div class="d-flex flex-row mb-4">
		            <div class="align-self-end p-2 mr-4 form-input-wrapper" style="width: 80%">
									<input type="text" class="form-control bg-transparent rounded-0" name="message">
								</div>
								<div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
									<button class="btn py-3 px-5 form-btn" type="submit">Send Shout</button>
								</div>
							</div>
						</form>
					{% endif %}
					<div class="jumbotron my-5 py-0">
						{% if shouts|length > 0 %}
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Message</th>
									<th scope="col">Sent</th>
								</tr>
							</thead>
						 <tbody>
							 {% for shout in shouts %}
								 <tr>
									 <td><a href="myroom.php?user={{ shout['sender_user_name'] }}">{{ shout['sender_display_name'] }}</a></td>
									 <td>{{ shout['message']|raw }}</td>
									 <td>{{ shout['time_sent']|date('F j, Y')}}</td>
								 </tr>
								{% endfor %}
						 </tbody>
						</table>
						{% else %}
							<h3 class="text-center">No shouts yet.</h3>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}
