<div class="container mb-4">
  <nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link bg-transparent top-link" href="karaoke-movies.php">Karaoke</a>
    <a class="flex-sm-fill text-sm-center nav-link bg-transparent top-link" href="painting-by-numbers.php">Paint By Numbers</a>
    <a class="flex-sm-fill text-sm-center nav-link bg-transparent top-link" href="iproject.php">iProject</a>
    <a class="flex-sm-fill text-sm-center nav-link bg-transparent top-link" href="icode.php">iCode</a>
  </nav>
</div>
