{% extends 'main.html' %}

{% block page_title %}iproject{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-12 mt-3">
		<h1>Painting by Numbers</h1>
		<br>
		<h2>Painting 1</h2>
			<div class="card border-0 mt-4 mb-5 form-card text-center">
				<div class="card-body">
					<div class="jumbotron">
						 <img src="content/static/paint-by-numbers/paint1.png" class="paint" alt="Paint by Number 1"></img>
					</div>
				</div>
			</div>
		</div>
	<div class="col-sm-12">
		<h2>Painting 2</h2>
			<div class="card border-0 mt-4 mb-5 form-card text-center">
				<div class="card-body">
					<div class="jumbotron">
						 <img src="content/static/paint-by-numbers/paint2.png" class="paint" alt="Paint by Number 2"></img>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}
