{% extends 'main.html' %}

{% block page_title %}Login{% endblock %}

{% block content %}
<div class="row">
  <div class="d-none d-lg-block d-xl-block col-lg-1 col-xl-2"><!-- Spacer for large screens --></div>
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8">
    <div class="card border-0 mt-4 form-card">
      <div class="card-body">
        <div class="p-2 w-100 mb-5 text-center">
          <h1 class="text-center">Policies</h1>
        </div>
        <div class="p-2 w-100 mb-5 text-center policies-downloads">
          <h3>Cookie Policy: <a href="content/policies/Cookies_Policy.pdf">Download</a> (<i class="fas fa-file-pdf"></i> PDF)</h3>
          <h3>Data Policy: <a href="content/policies/Data_Policy_on_iRoom.pdf">Download</a> (<i class="fas fa-file-pdf"></i> PDF)</h3>
          <h3>Rules: <a href="content/policies/iRules.pdf">Download</a> (<i class="fas fa-file-pdf"></i> PDF)</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="d-none d-lg-block d-xl-block col-lg-1 col-xl-2"><!-- Spacer for large screens --></div>
</div>
{% endblock %}
