{% extends 'main.html' %}

{% block page_title %}Register{% endblock %}

{% block content %}
<div class="row">
  <div class="d-none d-lg-block d-xl-block col-lg-1 col-xl-2"><!-- Spacer for large screens --></div>
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-8">
    <div class="card border-0 mt-4 form-card">
      <div class="card-body">
        <div class="p-2 w-100 mb-5 text-center ">
          <h1 class="text-center">Register</h1>
        </div>
        <form action="{{ php_self }}" method=post>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="displayNameBox">*Name:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input
                type="text"
                class="form-control bg-transparent rounded-0{% if errDispName is defined %} form-error{% endif %}"
                id="displayNameBox"
                name="displayName"
                {% if displayName is defined %} value="{{ displayName }}" {% endif %}
              >
              {% if errDispName is defined %}
                <small class="form-text">Name must be between 1 and 50 characters.</small>
              {% endif %}
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="userNameBox">*Username:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input
                type="text"
                class="form-control bg-transparent rounded-0{% if errUserName is defined %} form-error{% endif %}"
                id="userNameBox"
                name="userName"
                {% if userName is defined %} value="{{ userName }}" {% endif %}
              >
              {% if errUserName is defined %}
                {% if errUserName == 1 %}
                  <small class="form-text">Username must be between 3 and 16 characters.</small>
                {% else %}
                  <small class="form-text">That username is already taken.</small>
                {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="emailBox">*Email:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input
                type="email"
                class="form-control bg-transparent rounded-0{% if errEmail is defined %} form-error{% endif %}"
                id="emailBox"
                name="email"
                {% if email is defined %} value="{{ email }}" {% endif %}
              >
              {% if errEmail is defined %}
                <small class="form-text">Please enter a valid email address.</small>
              {% endif %}
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="passwordBox">*Password:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input type="password"
                class="form-control bg-transparent rounded-0{% if errPassword is defined %} form-error{% endif %}"
                id="passwordBox"
                name="password"
              >
              {% if errPassword is defined %}
                <small class="form-text">Passwords must be 8-16 characters.</small>
              {% endif %}
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="passwordRetypeBox">*Re-Type Password:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper">
              <input
                type="password"
                class="form-control bg-transparent rounded-0{% if errPasswordRetype is defined %} form-error{% endif %}"
                id="passwordRetypeBox"
                name="passwordRetype"
              >
              {% if errPasswordRetype is defined %}
                {% if errPasswordRetype == 1 %}
                  <small class="form-text">Please retype your password.</small>
                {% else %}
                  <small class="form-text">The passwords you entered do not match.</small>
                {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="d-flex flex-row mb-4">
            <div class="align-self-end p-2 ml-4 text-center form-label-wrapper">
              <label for="birthdayBox">Birthday:</label>
            </div>
            <div class="align-self-end p-2 mr-4 form-input-wrapper position-relative">
              <input
                type="date"
                class="form-control bg-transparent rounded-0{% if errBirthday is defined %} form-error{% endif %}"
                id="birthdayBox"
                name="birthday"
                {% if birthday is defined %} value="{{ birthday }}" {% endif %}
              >
              <i class="far fa-calendar-alt input-icon-overlay"></i>
              {% if errBirthday is defined %}
                <small class="form-text">Please enter your birthday.</small>
              {% endif %}
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="p-2 w-100 text-center">
              <p class="mb-3">By signing up, you agree to our <a href="policies.php">Terms</a>, <a href="policies.php">Data Policy</a>, and <a href="policies.php">Cookies Policy</a>.</p>
              <p class="mb-3">Already have an account? <a href="login.php">Login here</a>!</p>
              <button class="btn py-3 px-5 mt-4 form-btn" type="submit">Sign Up</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="d-none d-lg-block d-xl-block col-lg-1 col-xl-2"><!-- Spacer for large screens --></div>
</div>
{% endblock %}
