html {
  background: url(https://images.pexels.com/photos/346796/pexels-photo-346796.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    background-color:transparent;
}

footer, .logo-bar {
  background: #aacff2;
  box-shadow: 0 0 0 16px #fbc854;
  border-radius: 14px !important;
}

h3 {
color: grey;
}

.container {

  text-align: left;
  color: blue;
  font-size: 22px;
  text-shadow: 1px 1px black;

}



.logo {
  font-family: Volkhov, serif;
  color: #e2b44c;
  font-size: 30px;
  text-shadow: -1px 0 #ab8b42, 0 1px #ab8b42, 1px 0 #ab8b42, 0 -1px #ab8b42;
}

.logo:hover {
  color: white !important;
  text-decoration: none;
}

.top-link {
  font-family: Volkhov, serif;
  color: #e2b44c;
  font-size: 24px;
}

.top-link:hover {
  background: #aacff2 !important;
  color: #1988f2;
}



.form-label-wrapper {
  width: 40%;
}

.form-label-wrapper label {
  font-family: Volkhov, serif;
  color: #f73d3d;
  font-size: 20px;
}

.form-input-wrapper {
  width: 60%;
}

.form-input-wrapper input {
  border: 0;
  border-bottom: 2px solid #f73d3d;
}

.form-input-wrapper input:focus {
  box-shadow: none !important;
  border: 0;
  border-bottom: 4px solid #f73d3d;
}

.form-btn {
  font-family: Volkhov, serif;
  background: #f73d3d;
  color: #f3cdd4;
}





form p {
  font-family: Volkhov, serif;
  font-size: 16px;
  color: #f73d3d;
}

form a {
  color: #f73d3d;
  border-bottom: 2px dotted #1988f2;
}

form a:hover {
  color: #1988f2;
  text-decoration: none;
}

footer {
  min-height: 200px;
}

footer a {
  font-family: Volkhov, serif;
  color: #c58b08;
  font-size: 18px;
}

footer a:hover {
    text-decoration: none;
    color: #1988f2;
}
