body {
  background-image: linear-gradient(to bottom, white, #fcd57a);
  background-repeat: no-repeat;
  min-height: 100vh;
}

footer, .logo-bar {
  background: #aacff2;
  box-shadow: 0 0 0 16px #fbc854;
  border-radius: 14px !important;
}

.logo {
  font-family: Volkhov, serif;
  color: #e2b44c;
  font-size: 30px;
  text-shadow: -1px 0 #ab8b42, 0 1px #ab8b42, 1px 0 #ab8b42, 0 -1px #ab8b42;
}

.logo:hover {
  color: white !important;
  text-decoration: none;
}

.top-link {
  font-family: Volkhov, serif;
  color: #e2b44c;
  font-size: 24px;
}

.navbar .top-link {
  color: #1988f2;
}

.top-link:hover {
  background: #aacff2 !important;
  color: #1988f2;
}

.navbar .top-link:hover {
  background: #e2b44c !important;
}

.logo-bar li {
  font-family: Volkhov, serif !important;
  color: #e2b44c !important;
  font-size: 22px !important;
  text-shadow: -1px 0 #ab8b42, 0 1px #ab8b42, 1px 0 #ab8b42, 0 -1px #ab8b42;
}

.logo-bar li a:hover {
  color: white;
}

.logo-bar li div {
  background: #aacff2;
}

.logo-bar li div a {
  color: #007bff;
}

.hamburger {
  color: #e2b44c;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.form-card {
  background: #f3cdd4;
  box-shadow: 0 0 0 16px #f73d3d;
  border-radius: 14px !important;
}

.form-label-wrapper {
  width: 40%;
}

.form-label-wrapper label {
  font-family: Volkhov, serif;
  color: #f73d3d;
  font-size: 20px;
}

.form-input-wrapper {
  width: 60%;
}

.form-input-wrapper input {
  border: 0;
  border-bottom: 2px solid #f73d3d;
}

.form-input-wrapper small {
  color: #f73d3d;
}

.form-error {
  background: #f8ff01 !important;
}

.form-top-error {
  font-family: Volkhov, serif;
  color: #f73d3d;
  font-size: 18px;
  background: #f8ff01 !important;
  border: 2px solid #f73d3d;
  border-radius: 10px;
}

.form-input-wrapper input:focus {
  box-shadow: none !important;
  border: 0;
  border-bottom: 4px solid #f73d3d;
}

.form-btn {
  font-family: Volkhov, serif;
  background: #f73d3d;
  color: #f3cdd4;
}

.input-icon-overlay {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
  color: #f73d3d;
}

form p {
  font-family: Volkhov, serif;
  font-size: 16px;
  color: #f73d3d;
}

form a, .policies-downloads a {
  color: #f73d3d;
  border-bottom: 2px dotted #1988f2;
}

form a:hover, .policies-downloads a:hover {
  color: #1988f2;
  text-decoration: none;
}

footer {
  min-height: 200px;
}

footer a {
  font-family: Volkhov, serif;
  color: #c58b08;
  font-size: 18px;
}

footer a:hover {
    text-decoration: none;
    color: #1988f2;
}

nav span {
  font-family: Volkhov, serif;
  color: #e2b44c;
  font-size: 22px;
  text-shadow: -1px 0 #ab8b42, 0 1px #ab8b42, 1px 0 #ab8b42, 0 -1px #ab8b42;
}

nav span a:hover {
  color: white;
  text-decoration: none;
}

h3 {
  font-family: Volkhov, serif !important;
  font-size: 20px;
  color: #f73d3d;
}


.jumbotron {
  background-color: #f3cdd4 !important;
}

.project-card {
  background: #f3cdd4;
  box-shadow: 0 0 0 5px #f73d3d;
  border-radius: 3px !important;
}

h1{   /*recheck that*/
  font-family: Volkhov, serif !important;
  color: #f73d3d !important;
  font-size: 24px;
  text-align: center;
}

h2{
  font-family: Volkhov, serif! important;
  color: #f73d3d! important;
  font-size: 18px;
  text-align: center;
}

.myroom-headerbox li {
  list-style: none;
  font-family: Volkhov, serif;
  font-size: 18px;
  line-height: 24px;
  color: #f73d3d;
}

.myroom-headerbox h1 {
  text-align: left;
  font-size: 26px;
}

.myroom-headerbox i {
  font-size: 24px;
  color: #f8ff01;
  text-shadow: 0.5px 0.5px 2px black;
}

.myroom-headerbox img {
  box-shadow: 0 0 0 5px #f8ff01;
  border-radius: 3px !important;
}

.friend-info {
  background: #aacff2;
  color: #1988f2 !important;
  border: 2px solid #1988f2;
}

#oldAchievementsBox {
  display: none;
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

.project, .paint {
	object-fit: none;
	object-position: center;
	width: 100%;
	max-height: 300px;
	margin-bottom: 1rem;
}
